body {
    font-family: 'Arial', sans-serif;
    background-color: #A0F7F4; /* Light Blue */
}

.container {
    margin-top: 50px;
}

h1, h2 {
    color: #4CAF50; /* Green */
}

p {
    font-size: 18px;
}

.navbar.navbar-light {
    background: #F58B8F; /* Light Blue */
}

.navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 100%;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
    border-radius: 100%;
}

.navbar-toggler {
    border: none;
}

.focus-section, .play-section, .benefits-section {
    margin-top: 30px;
}
